h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px; 
    margin-left: auto; 
    margin-right: auto;}

body {font-family: 'Roboto', sans-serif;
color: #434455;
background-color: white;
font-size: 16px;
font-style: normal;
font-weight: 400;
letter-spacing: 0.02em;
line-height: 1.5;}

/* header */

.page-header-nav {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;}

.navigator {display: flex;
flex-direction: row;
align-items: center;}

.nav-items {display: flex;
    flex-direction: row;
gap: 40px;
}

.logo{color: #4D5AE5;
font-family: 'Raleway', sans-serif;
text-transform: uppercase;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
margin-right: 76px;
}

.logo-second {color: #2E2F42;}

.logo-footer {color: #F4F4FD;}

.nav-link {font-weight: 500;
color: #2e2f42; 
font-size: 16px;
font-style: normal;
line-height: 1.5;
letter-spacing: 0.02em;
padding: 24px 0;
display: block;
position: relative;}

.studio-link {color: #404bbf;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.studio-link::after {
    display: block;
    content: "";
    width: 48px;
    height: 4px;
    background-color: rgb(64, 75, 191);
    position: absolute;
    bottom: -1px;
    border-radius: 2px;
}

.nav-link:hover, :focus {color: #404bbf;}

.address {font-style: normal;
display: flex;
flex-direction: row;
gap: 40px;
}

a {text-decoration: none;}

ul {list-style-type: none;}

.navigator ul {list-style-type: none;
color: #2E2F42}

.contact {font-style: normal;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.contact:hover, :focus {color: #404bbf;}

/* section-1 */

.order-service {background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url("/images/HW4/background-foto.jpg");
    background-size: cover;
    height: 600px;
    padding: 188px 0;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
background-repeat: no-repeat;
background-position: center;}

.page-title {color: white;
text-align: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 1.07;
letter-spacing: 1.12px;
max-width: 496px;
margin-left: auto;
margin-right: auto;
}

.order-service-button {font-family: "Roboto", sans-serif;
background:#4D5AE5;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.64px;
color: #ffffff;
display: block;
min-width: 169px;
height: 56px;
border: none;
padding: 16px 32px;
align-items: flex-start;
gap: 10px;
margin: 48px auto 138px;
border-radius: 4px;
background: var(--IRIS, #4D5AE5);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
white-space: nowrap;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-button:hover, :focus {background-color: #404BBF;}

/* section-2 */

.no-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-page {
    padding: 120px 0;
    
}
.our-advantages {display: flex;
flex-direction: row;
gap: 24px;
}
.border-icon {display: flex;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: var(--CLOUD, #F4F4FD);
    justify-content: center;
    align-items: center;
   margin-bottom: 8px;
}

.our-advantages-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFF;
    width: calc((100% - 72px) / 4);
}


.titles {color: #2e2f42;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.description-titles {color: #434455;
font-size: 16px;
;}

/* section-3 */

.section-our-team {background-color: #F4F4FD;
padding: 120px 0;}


.title-our-team {color: #2e2f42;
    font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
text-align: center;
margin-bottom: 72px;}

.flex-teams-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px; 
}

.foto-description {
    padding-top: 32px;
    padding-bottom: 32px;
}

.teams-item {background-color: #FFFFFF;
border-radius: 0px 0px 4px 4px;
background: var(--WHITE, #FFF);
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
text-align: center;
}

.name {color: #2e2f42;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 8px;
}


.social-media {display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}
.social-media-icon {width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.social-media-links {display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-links:hover,
.social-media-links:focus {
    background-color: #404bbf;
}
.svg-icon {
fill: #f4f4fd;
}
/* section-4 */

.portfolio-page {
    padding: 120px 0;
}
.portfolio-title {
    margin-bottom: 72px;
    text-align: center;
    font-size: 36px;
    line-height: 1.11em;
    letter-spacing: 0.02em;
}
.title-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-titles {color: #2E2F42;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.port-item {
width: calc((100% - 48px) / 3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.portfolio-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}



.description {color: #F4F4FD;
width: 264px;}

.box-foto {
    position: relative;
    overflow: hidden;
}
.hidden-text {position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4D5AE5;
    padding: 40px 32px;
    overflow: auto;
}
.port-item:hover {box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.port-item:hover .hidden-text{
    transform: translateY(0%);
}



/* footer */
footer {
    background-color: #2E2F42;
    padding-bottom: 32px;
}

.footer-page {height: 320px;
padding-top: 100px;
padding-bottom: 100px;}

.footer-logo {
    display: inline-block;
margin-bottom: 16px;}

.footer-flex {display: flex;
flex-direction: row;

align-items: baseline;}

.logo-text {
    margin-right: 120px;
}
.social-media-text {
    color: #FFF;
    margin-bottom: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    font-weight: 500;
}
.social-media-footer {display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: start;
}
.social-media-icon-footer {
    width: 40px;
    height: 40px;
    
}
.social-media-links-footer {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-links-footer:hover,
.social-media-links-footer:focus {
    background-color: #31d0aa;
}

.subsribe {
    display: flex;
gap: 24px;
}
.subscribe-form {
    margin-left: 80px;
}
.user-mail {
    background-color:  inherit;
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 16px;;
}
.subscribe-button {
    background-color: #4D5AE5;
    width: 165px;
    height: 40px;
    border-radius: 4px;
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFF;
}
.user-mail::placeholder {color: #FFF;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 2;
letter-spacing: 0.04em;}

